APPWRITE_PUBLIC_ENDPOINT = <your Appwrite Endpoint>
APPWRITE_PROJECT_ID = <Your Project Id>
APPWRITE_PROJECT_NAME = <Your Project Name>
APPWRITE_DATABASE_ID = <Your Database Id>
APPWRITE_USERS_COLLECTION_ID = <Your Users Collection Id>
PTV_API_KEY = <Your PTV API locator key>

# Development: Use local CORS proxy

# PTV_PROXY_BASE=http://localhost:8088

# Production: Use external domain with reverse proxy

PTV_PROXY_BASE=https://www.ta.joshihomeserver.ip64.net
E_CONTROL_LINK = https://api.e-control.at/sprit/1.0/search/gas-stations/by-address
